

.tituloHistoria h1{
        color: $color1;
        padding: 20px;
        margin: 20px;
        font-family: $font1;
        font-size: 50px;
        text-shadow: 0 0 5px $color4;
        transition: all 500ms;
        cursor: pointer;
}

.tituloHistoria h1:hover{
        transition: 500ms ;
        transform: scale(1.1);
}

.tituloHistoria img{
    width: auto;
    height: 350px;
    box-shadow: 0 0 10px $color4;
    border-radius: 20px;
}

.textoHistoria h3{
    color: $color4;
    text-shadow: 0 0 5px, 0 0 5px $color5;
    padding: 20px;
    margin-top: 30px;
    margin: 20px;
    font-family: $font2;
    font-size: 25px;
}

.textoHistoria h2{
    color: $color4;
    text-shadow: 0 0 5px $color1;
    padding: 30px;
    padding-top: 70px;
    margin-top: 50px;
    margin: 20px;
    font-family: $font2;
    font-size: 25px;
}

.iframeHistoria iframe{
    width: 600px;
    height: 300px;
}

.imgHistoria img{
    width: auto;
    height: 350px;
    box-shadow: 0 0 10px $color1;
    border-radius: 20px;
    margin: 10px;
}
.parrafoHistoria h4{
    font-size: 15px;
    text-shadow: 2 8 10px $color5;
    margin: 10px;
}

.subtituloHistoria h2{
    color: $color1;
    padding: 20px;
    padding-top: 50px;
    margin: 10px;
    font-family: $font1;
    font-size: 40px;
    text-shadow: 0 0 5px $color4;
    transition: all 500ms;
    cursor: pointer;
}

.videoHistoria video{
    box-shadow: 0 0 10px $color1;
    border-radius: 10px;
    margin-bottom: 70px;
}

@mixin sizes ($width, $height, $bgcolor, $color,$line,$size,$family) {
    height: $height;
    width: $width;
    background-color: $bgcolor;
    color: $color;
    line-height: $line;
    font-size: $size;
    font-family: $family;
}

.mixin{
    @include sizes (100%, 100px, rgba(0, 0, 0, 0.7), orange, 100px, 20px, $font3)
}


@media (max-width: 620px){

    .iframeHistoria iframe{
        width: 500px;
        height: 300px;
    }

}

@media (max-width: 580px){

    .tituloHistoria img{
        width: 400px;
        height: auto;
        box-shadow: 0 0 10px $color4;
        border-radius: 20px;
    }

    .imgHistoria img{
        width: 400px;
        height: auto;
        box-shadow: 0 0 10px $color1;
        border-radius: 20px;
        margin: 10px;
    }

}

@media (max-width: 505px){

    .iframeHistoria iframe{
        width: 400px;
        height: 300px;
    }

    @mixin sizes ($width, $height, $bgcolor, $color,$line,$size,$family) {
        height: $height;
        width: $width;
        background-color: $bgcolor;
        color: $color;
        line-height: $line;
        font-size: $size;
        font-family: $family;
    }
    
    .mixin{
        @include sizes (100%, 100px, rgba(0, 0, 0, 0.7), orange, 100px, 16px, $font3)
    }

}

@media (max-width: 450px){

    .tituloHistoria img{
        width: 350px;
        height: auto;
        box-shadow: 0 0 10px $color4;
        border-radius: 20px;
    }


    .textoHistoria h3{
        color: $color4;
        text-shadow: 0 0 5px, 0 0 5px $color5;
        padding: 20px;
        margin-top: 30px;
        margin: 20px;
        font-family: $font2;
        font-size: 20px;
    }
    
    .textoHistoria h2{
        color: $color4;
        text-shadow: 0 0 5px $color1;
        padding: 30px;
        padding-top: 70px;
        margin-top: 50px;
        margin: 20px;
        font-family: $font2;
        font-size: 20px;
    }
    .imgHistoria img{
        width: 350px;
        height: auto;
        box-shadow: 0 0 10px $color1;
        border-radius: 20px;
        margin: 10px;
    }

    .parrafoHistoria h4{
        font-size: 18px;
        text-shadow: 2 8 10px $color5;
        margin: 10px;
        margin-bottom: 30px;
    }

    .iframeHistoria iframe{
        width: 370px;
        height: 280px;
    }
}

@media (max-width: 450px){
    .videoHistoria video{
        box-shadow: 0 0 10px $color1;
        border-radius: 10px;
        margin-bottom: 70px;
        width: 350px;
        height: auto;
    }
    @mixin sizes ($width, $height, $bgcolor, $color,$line,$size,$family) {
        height: $height;
        width: $width;
        background-color: $bgcolor;
        color: $color;
        line-height: $line;
        font-size: $size;
        font-family: $family;
    }
    
    .mixin{
        @include sizes (100%, 100px, rgba(0, 0, 0, 0.7), orange, 100px, 14px, $font3)
    }
}

@media (max-width: 380px){

    .tituloHistoria h1{
        color: $color1;
        padding: 17px;
        margin: 20px;
        font-family: $font1;
        font-size: 38px;
        text-shadow: 0 0 5px $color4;
        transition: all 500ms;
        cursor: pointer;
}


.tituloHistoria img{
    width: 200px;
    height: auto;
    box-shadow: 0 0 10px $color4;
    border-radius: 20px;
}


.textoHistoria h3{
    color: $color4;
    text-shadow: 0 0 5px, 0 0 5px $color5;
    padding: 20px;
    margin-top: 30px;
    margin: 20px;
    font-family: $font2;
    font-size: 18px;
}

.textoHistoria h2{
    color: $color4;
    text-shadow: 0 0 5px $color1;
    padding: 30px;
    padding-top: 70px;
    margin-top: 50px;
    margin: 20px;
    font-family: $font2;
    font-size: 18px;
}
.imgHistoria img{
    width: 270px;
    height: auto;
    box-shadow: 0 0 10px $color1;
    border-radius: 20px;
    margin: 10px;
}

.parrafoHistoria h4{
    font-size: 16px;
    text-shadow: 2 8 10px $color5;
    margin: 10px;
    margin-bottom: 30px;
}

.iframeHistoria iframe{
    width: 300px;
    height: 250px;
}

.videoHistoria video{
    box-shadow: 0 0 10px $color1;
    border-radius: 10px;
    margin-bottom: 70px;
    width: 300px;
    height: auto;
}

@mixin sizes ($width, $height, $bgcolor, $color,$line,$size,$family) {
    height: $height;
    width: $width;
    background-color: $bgcolor;
    color: $color;
    line-height: $line;
    font-size: $size;
    font-family: $family;
}

.mixin{
    @include sizes (100%, 100px, rgba(0, 0, 0, 0.7), orange, 100px, 13px, $font3)
}

}