@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@400;500&family=Yanone+Kaffeesatz&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: red;
  background-image: url(.//img/FONDOCIROANDRES.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  height: calc(100vh - 80px - 100px);
}

.mainIndex {
  height: 100vh;
}

/* .mainHistoria{
    height: 100vh;
}*/
.mainContacto {
  height: 100vh;
}

.mainRegistrate {
  height: 100vh;
}

.extra {
  color: rgb(11, 11, 12);
  padding-bottom: 40px;
  margin-bottom: 150px;
}

.tituloIndex {
  color: rgb(255, 153, 0);
  margin-top: 100px;
  font-family: Bebas Neue;
  font-size: 50px;
  text-shadow: 0 0 5px #fff;
  transition: all 500ms;
  cursor: pointer;
}

.tituloIndex:hover {
  transition: 500ms;
  transform: scale(1.1);
}

span {
  color: black;
}

span:hover {
  color: #fff;
}

.texto2 p {
  font-size: 25px;
  font-family: Oswald;
  text-shadow: 0 0 10px rgb(255, 153, 0);
  padding: 30px;
}

main {
  color: #fff;
}

.circle {
  height: 80px;
  width: 100px;
  margin: auto;
  animation-name: rebotar;
  animation-duration: 12s;
  animation-delay: 4s;
  background-image: url(.//img/cirologo2.png);
  background-position: center;
  background-size: cover;
}

@keyframes rebotar {
  0% {
    opacity: 0;
  }
  1% {
    transform: translateY(60px);
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  }
  10% {
    opacity: 1;
    transform: translateY(80px);
  }
  11% {
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  }
  20% {
    opacity: 1;
    transform: translateY(0px);
  }
  21% {
    filter: none;
  }
  30% {
    opacity: 1;
    transform: translateY(80px);
  }
  31% {
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  }
  40% {
    opacity: 1;
    transform: translateY(0px);
    filter: none;
  }
  50% {
    opacity: 1;
    transform: translateY(80px);
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  }
  60% {
    opacity: 1;
    transform: translateY(0px);
    filter: none;
  }
  70% {
    opacity: 1;
    transform: translateY(80px);
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  }
  80% {
    opacity: 1;
    transform: translateY(50px);
    filter: none;
  }
  90% {
    opacity: 1;
    transform: translateY(80px);
    filter: none;
    transform: rotate(-280deg);
  }
  100% {
    transform: rotate(-560deg);
    transform: translate(10px, 100px);
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  }
}
.subir {
  background-color: #fff;
  height: 30px;
  width: 30px;
  border: 3px solid rgba(255, 165, 0, 0.75);
  line-height: 28px;
  font-size: 30px;
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.subir:hover {
  box-shadow: 0 0 5px rgb(255, 153, 0);
}

.row {
  color: rgb(255, 153, 0);
  text-shadow: 0 0 5px #000;
  font-weight: 400;
}

.form-check {
  margin-left: 100px;
}

.controlsRegistrate {
  width: 30%;
  background-color: rgb(255, 153, 0);
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.controlsRegistrate:hover {
  box-shadow: 0 0 15px #fff;
}

.navbar {
  background-color: rgb(255, 153, 0) !important;
  font-family: Bebas Neue !important;
  font-size: 20px !important;
}

.navbar-brand {
  color: #fff !important;
  font-size: 30px;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #000 !important;
  text-shadow: 0 0 10px #fff !important;
}

.nav-link.active, .nav-link:hover {
  background: #000 !important;
  transition: 0.5s !important;
  border-radius: 4px !important;
}

.imagenes {
  width: 100%;
  display: flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
}

.imagenes figure {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 10px 25px rgb(245, 242, 242);
  cursor: pointer;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagenes figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.imagenes figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 123, 0, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.imagenes figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.imagenes figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}

.imagenes figure:hover > img {
  transform: scale(1.3);
}

.imagenes figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  text-shadow: 0 0 5px #fff;
}

.imagenes figure .capa p {
  color: #fff;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.5;
  width: 80%;
  margin: auto;
}

span1 {
  color: #000;
  text-shadow: 0 0 5px #000;
}

.content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: Fjalla One;
  text-shadow: 0 0 5px rgb(255, 153, 0);
}

.content a {
  background-color: rgb(255, 153, 0);
  padding: 20px;
  margin: 10px;
  line-height: 100px;
  font-size: 60px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  filter: blur(2px);
}

.content p {
  font-size: 20px;
}

.musica:hover a {
  filter: none;
  background-color: #000;
}

.historia:hover a {
  filter: none;
  background-color: #000;
}

.tituloHistoria h1 {
  color: rgb(255, 153, 0);
  padding: 20px;
  margin: 20px;
  font-family: Bebas Neue;
  font-size: 50px;
  text-shadow: 0 0 5px #fff;
  transition: all 500ms;
  cursor: pointer;
}

.tituloHistoria h1:hover {
  transition: 500ms;
  transform: scale(1.1);
}

.tituloHistoria img {
  width: auto;
  height: 350px;
  box-shadow: 0 0 10px #fff;
  border-radius: 20px;
}

.textoHistoria h3 {
  color: #fff;
  text-shadow: 0 0 5px, 0 0 5px #000;
  padding: 20px;
  margin-top: 30px;
  margin: 20px;
  font-family: Fjalla One;
  font-size: 25px;
}

.textoHistoria h2 {
  color: #fff;
  text-shadow: 0 0 5px rgb(255, 153, 0);
  padding: 30px;
  padding-top: 70px;
  margin-top: 50px;
  margin: 20px;
  font-family: Fjalla One;
  font-size: 25px;
}

.iframeHistoria iframe {
  width: 600px;
  height: 300px;
}

.imgHistoria img {
  width: auto;
  height: 350px;
  box-shadow: 0 0 10px rgb(255, 153, 0);
  border-radius: 20px;
  margin: 10px;
}

.parrafoHistoria h4 {
  font-size: 15px;
  text-shadow: 2 8 10px #000;
  margin: 10px;
}

.subtituloHistoria h2 {
  color: rgb(255, 153, 0);
  padding: 20px;
  padding-top: 50px;
  margin: 10px;
  font-family: Bebas Neue;
  font-size: 40px;
  text-shadow: 0 0 5px #fff;
  transition: all 500ms;
  cursor: pointer;
}

.videoHistoria video {
  box-shadow: 0 0 10px rgb(255, 153, 0);
  border-radius: 10px;
  margin-bottom: 70px;
}

.mixin {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: orange;
  line-height: 100px;
  font-size: 20px;
  font-family: Oswald;
}

@media (max-width: 620px) {
  .iframeHistoria iframe {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 580px) {
  .tituloHistoria img {
    width: 400px;
    height: auto;
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
  }
  .imgHistoria img {
    width: 400px;
    height: auto;
    box-shadow: 0 0 10px rgb(255, 153, 0);
    border-radius: 20px;
    margin: 10px;
  }
}
@media (max-width: 505px) {
  .iframeHistoria iframe {
    width: 400px;
    height: 300px;
  }
  .mixin {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: orange;
    line-height: 100px;
    font-size: 16px;
    font-family: Oswald;
  }
}
@media (max-width: 450px) {
  .tituloHistoria img {
    width: 350px;
    height: auto;
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
  }
  .textoHistoria h3 {
    color: #fff;
    text-shadow: 0 0 5px, 0 0 5px #000;
    padding: 20px;
    margin-top: 30px;
    margin: 20px;
    font-family: Fjalla One;
    font-size: 20px;
  }
  .textoHistoria h2 {
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 153, 0);
    padding: 30px;
    padding-top: 70px;
    margin-top: 50px;
    margin: 20px;
    font-family: Fjalla One;
    font-size: 20px;
  }
  .imgHistoria img {
    width: 350px;
    height: auto;
    box-shadow: 0 0 10px rgb(255, 153, 0);
    border-radius: 20px;
    margin: 10px;
  }
  .parrafoHistoria h4 {
    font-size: 18px;
    text-shadow: 2 8 10px #000;
    margin: 10px;
    margin-bottom: 30px;
  }
  .iframeHistoria iframe {
    width: 370px;
    height: 280px;
  }
}
@media (max-width: 450px) {
  .videoHistoria video {
    box-shadow: 0 0 10px rgb(255, 153, 0);
    border-radius: 10px;
    margin-bottom: 70px;
    width: 350px;
    height: auto;
  }
  .mixin {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: orange;
    line-height: 100px;
    font-size: 14px;
    font-family: Oswald;
  }
}
@media (max-width: 380px) {
  .tituloHistoria h1 {
    color: rgb(255, 153, 0);
    padding: 17px;
    margin: 20px;
    font-family: Bebas Neue;
    font-size: 38px;
    text-shadow: 0 0 5px #fff;
    transition: all 500ms;
    cursor: pointer;
  }
  .tituloHistoria img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
  }
  .textoHistoria h3 {
    color: #fff;
    text-shadow: 0 0 5px, 0 0 5px #000;
    padding: 20px;
    margin-top: 30px;
    margin: 20px;
    font-family: Fjalla One;
    font-size: 18px;
  }
  .textoHistoria h2 {
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 153, 0);
    padding: 30px;
    padding-top: 70px;
    margin-top: 50px;
    margin: 20px;
    font-family: Fjalla One;
    font-size: 18px;
  }
  .imgHistoria img {
    width: 270px;
    height: auto;
    box-shadow: 0 0 10px rgb(255, 153, 0);
    border-radius: 20px;
    margin: 10px;
  }
  .parrafoHistoria h4 {
    font-size: 16px;
    text-shadow: 2 8 10px #000;
    margin: 10px;
    margin-bottom: 30px;
  }
  .iframeHistoria iframe {
    width: 300px;
    height: 250px;
  }
  .videoHistoria video {
    box-shadow: 0 0 10px rgb(255, 153, 0);
    border-radius: 10px;
    margin-bottom: 70px;
    width: 300px;
    height: auto;
  }
  .mixin {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: orange;
    line-height: 100px;
    font-size: 13px;
    font-family: Oswald;
  }
}
.tituloGaleria {
  color: rgb(255, 153, 0);
  padding: 20px;
  margin: 20px;
  font-family: Bebas Neue;
  font-size: 50px;
  text-shadow: 0 0 5px #fff;
  transition: all 500ms;
  cursor: pointer;
}

.tituloGaleria:hover {
  transition: 500ms;
  transform: scale(1.1);
}

.galeria {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 200px);
  padding: 10px;
  grid-gap: 20px;
}

.item {
  border: 5px solid rgba(255, 166, 0, 0.644);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px red;
  transition: all 500ms ease-out;
}

.item a {
  text-decoration: none;
  text-shadow: 0 0 5px #000;
  font-family: Bebas Neue;
}

.item a:hover {
  text-shadow: 0 0 5px, 0 0 5px red;
}

.item p {
  margin: 70px;
  font-size: 30px;
}

.item:hover {
  box-shadow: 0 0 5px, 0 0 5px #ff0202;
  transform: scale(1.1);
}

.item1 {
  background-image: url(.//img/ultimorecitallospiojos.jpg);
  grid-column: 1/3;
  grid-row: 1/3;
}

.item2 {
  background-image: url(.//img/ultimorecital2.jpg);
  grid-column: 3/4;
  grid-row: 1/2;
}

.item3 {
  background-image: url(.//img/cirolospiojos.jpg);
  grid-column: 4/5;
  grid-row: 1/3;
  background-position: right;
}

.item4 {
  background-image: url(.//img/ultimorecital3.jpg);
  grid-column: 3/4;
  grid-row: 2/3;
}

.item5 {
  background-image: url(.//img/ciroylospersasargentina.jpg);
  grid-column: 1/2;
  grid-row: 3/5;
}

.item6 {
  background-image: url(.//img/ultimorecital4.jpg);
  grid-column: 2/3;
  grid-row: 3/4;
}

.item7 {
  background-image: url(.//img/ciroylospersas3.jpg);
  grid-column: 2/3;
  grid-row: 4/5;
}

.item8 {
  background-image: url(.//img/ciroylospersas1.jpg);
  grid-column: 3/5;
  grid-row: 3/5;
  background-position: top;
}

.item9 {
  background-image: url(.//img/ciroylospersas7.jpg);
  grid-column: 1/2;
  grid-row: 5/6;
}

.item10 {
  background-image: url(.//img/ciroylospersas6.jpg);
  grid-column: 2/3;
  grid-row: 5/6;
}

.item11 {
  background-image: url(.//img/cirocosquin.jpg);
  grid-column: 3/5;
  grid-row: 5/6;
}

.item12 {
  background-image: url(.//img/ciroylospersas4.jpg);
  grid-column: 1/3;
  grid-row: 6/7;
}

.item13 {
  background-image: url(.//img/ciroylospersas5.jpg);
  grid-column: 3/4;
  grid-row: 6/7;
}

.item14 {
  background-image: url(.//img/cirosimpsons.jpg);
  grid-column: 4/5;
  grid-row: 6/7;
}

.item15 {
  background-image: url(.//img/ciroylospersas9.jpg);
  grid-column: 2/4;
  grid-row: 6/7;
}

@media (max-width: 2000px) {
  .galeria {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 200px);
    padding: 10px;
    grid-gap: 20px;
  }
  .item1 {
    background-image: url(.//img/ultimorecitallospiojos.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .item2 {
    background-image: url(.//img/ultimorecital2.jpg);
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    background-image: url(.//img/cirolospiojos.jpg);
    grid-column: 4/5;
    grid-row: 1/3;
    background-position: right;
  }
  .item4 {
    background-image: url(.//img/ultimorecital3.jpg);
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item5 {
    background-image: url(.//img/ciroylospersasargentina.jpg);
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .item6 {
    background-image: url(.//img/ultimorecital4.jpg);
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item7 {
    background-image: url(.//img/ciroylospersas3.jpg);
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .item8 {
    background-image: url(.//img/ciroylospersas1.jpg);
    grid-column: 3/5;
    grid-row: 3/6;
  }
  .item9 {
    background-image: url(.//img/ciroylospersas7.jpg);
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item10 {
    background-image: url(.//img/ciroylospersas6.jpg);
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .item11 {
    background-image: url(.//img/cirocosquin.jpg);
    grid-column: 3/5;
    grid-row: 7/9;
  }
  .item12 {
    background-image: url(.//img/ciroylospersas4.jpg);
    grid-column: 1/3;
    grid-row: 7/9;
  }
  .item13 {
    background-image: url(.//img/ciroylospersas5.jpg);
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .item14 {
    background-image: url(.//img/cirosimpsons.jpg);
    grid-column: 4/5;
    grid-row: 6/7;
  }
  .item15 {
    background-image: url(.//img/ciroylospersas9.jpg);
    grid-column: 2/4;
    grid-row: 6/7;
  }
}
@media (max-width: 780px) {
  .galeria {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 200px);
    padding: 10px;
    grid-gap: 20px;
  }
  .item1 {
    background-image: url(.//img/ultimorecitallospiojos.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .item2 {
    background-image: url(.//img/ultimorecital2.jpg);
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    background-image: url(.//img/cirolospiojos.jpg);
    grid-column: 1/3;
    grid-row: 7/8;
    background-position: right;
  }
  .item4 {
    background-image: url(.//img/ultimorecital3.jpg);
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item5 {
    background-image: url(.//img/ciroylospersasargentina.jpg);
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .item6 {
    background-image: url(.//img/ultimorecital4.jpg);
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item7 {
    background-image: url(.//img/ciroylospersas3.jpg);
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .item8 {
    background-image: url(.//img/ciroylospersas1.jpg);
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item9 {
    background-image: url(.//img/ciroylospersas7.jpg);
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item10 {
    background-image: url(.//img/ciroylospersas6.jpg);
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .item11 {
    background-image: url(.//img/cirocosquin.jpg);
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .item12 {
    background-image: url(.//img/ciroylospersas4.jpg);
    grid-column: 1/3;
    grid-row: 6/7;
  }
  .item13 {
    background-image: url(.//img/ciroylospersas5.jpg);
    grid-column: 3/4;
    grid-row: 6/7;
  }
  .item14 {
    background-image: url(.//img/cirosimpsons.jpg);
    grid-column: 3/4;
    grid-row: 7/8;
  }
  .item15 {
    background-image: url(.//img/ciroylospersas9.jpg);
    grid-column: 1/4;
    grid-row: 8/9;
  }
}
@media (max-width: 480px) {
  .galeria {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 200px);
    padding: 10px;
    grid-gap: 20px;
  }
  .item1 {
    background-image: url(.//img/ultimorecitallospiojos.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .item2 {
    background-image: url(.//img/ultimorecital2.jpg);
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item3 {
    background-image: url(.//img/cirolospiojos.jpg);
    grid-column: 2/3;
    grid-row: 4/5;
    background-position: right;
  }
  .item4 {
    background-image: url(.//img/ultimorecital3.jpg);
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item5 {
    background-image: url(.//img/ciroylospersasargentina.jpg);
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .item6 {
    background-image: url(.//img/ultimorecital4.jpg);
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .item7 {
    background-image: url(.//img/ciroylospersas3.jpg);
    grid-column: 1/3;
    grid-row: 6/7;
  }
  .item8 {
    background-image: url(.//img/ciroylospersas1.jpg);
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .item9 {
    background-image: url(.//img/ciroylospersas7.jpg);
    grid-column: 2/3;
    grid-row: 7/8;
  }
  .item10 {
    background-image: url(.//img/ciroylospersas4.jpg);
    grid-column: 1/3;
    grid-row: 8/9;
  }
  .item11 {
    background-image: url(.//img/cirocosquin.jpg);
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .item12 {
    background-image: url(.//img/ciroylospersas6.jpg);
    grid-column: 2/3;
    grid-row: 9/10;
  }
  .item13 {
    background-image: url(.//img/ciroylospersas5.jpg);
    grid-column: 1/3;
    grid-row: 10/11;
  }
  .item14 {
    background-image: url(.//img/cirosimpsons.jpg);
    grid-column: 2/3;
    grid-row: 11/12;
  }
  .item15 {
    background-image: url(.//img/ciroylospersas9.jpg);
    grid-column: 1/2;
    grid-row: 11/12;
  }
}
@media (max-width: 380px) {
  .galeria {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 200px);
    padding: 10px;
    grid-gap: 20px;
  }
  .item1 {
    background-image: url(.//img/ultimorecitallospiojos.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .item2 {
    background-image: url(.//img/ultimorecital2.jpg);
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item3 {
    background-image: url(.//img/cirolospiojos.jpg);
    grid-column: 2/3;
    grid-row: 4/5;
    background-position: right;
  }
  .item4 {
    background-image: url(.//img/ultimorecital3.jpg);
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item5 {
    background-image: url(.//img/ciroylospersasargentina.jpg);
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .item6 {
    background-image: url(.//img/ultimorecital4.jpg);
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .item7 {
    background-image: url(.//img/ciroylospersas3.jpg);
    grid-column: 1/3;
    grid-row: 6/7;
  }
  .item8 {
    background-image: url(.//img/ciroylospersas1.jpg);
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .item9 {
    background-image: url(.//img/ciroylospersas7.jpg);
    grid-column: 2/3;
    grid-row: 7/8;
  }
  .item10 {
    background-image: url(.//img/ciroylospersas4.jpg);
    grid-column: 1/3;
    grid-row: 8/9;
  }
  .item11 {
    background-image: url(.//img/cirocosquin.jpg);
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .item12 {
    background-image: url(.//img/ciroylospersas6.jpg);
    grid-column: 2/3;
    grid-row: 9/10;
  }
  .item13 {
    background-image: url(.//img/ciroylospersas5.jpg);
    grid-column: 1/3;
    grid-row: 10/11;
  }
  .item14 {
    background-image: url(.//img/cirosimpsons.jpg);
    grid-column: 1/3;
    grid-row: 12/13;
  }
  .item15 {
    background-image: url(.//img/ciroylospersas9.jpg);
    grid-column: 1/3;
    grid-row: 11/12;
  }
}
.tituloCanciones {
  color: rgb(255, 153, 0);
  padding: 20px;
  margin: 20px;
  font-family: Bebas Neue;
  font-size: 50px;
  text-shadow: 0 0 5px #fff;
  transition: all 500ms;
  cursor: pointer;
}

.tituloCanciones:hover {
  transition: 500ms;
  transform: scale(1.1);
}

section .canciones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.albumes {
  width: 40%;
  min-height: 250px;
  background-color: rgb(255, 153, 0);
  text-align: center;
  border-radius: 7px;
  margin: auto;
  transition: all 1.1s;
  padding: 1px;
}
.albumes a {
  text-decoration: none;
}

.albumes a h3:hover {
  color: #000;
  text-shadow: 0 0 5px red;
}

.albumes:hover {
  box-shadow: 0 0 5px 5px #fff;
  transform: scale(1.09);
  transition: all 1.1s;
}

.card-img1 {
  background-image: url(.//img/3arco.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img2 {
  background-image: url(.//img/maquinasangre.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img3 {
  background-image: url(.//img/azul.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img4 {
  background-image: url(.//img/ayayay.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img5 {
  background-image: url(.//img/verdepaisaje.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img6 {
  background-image: url(.//img/chac.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img7 {
  background-image: url(.//img/civilizacion.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img8 {
  background-image: url(.//img/huracanes.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img9 {
  background-image: url(.//img/fantasmas.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img10 {
  background-image: url(.//img/queplacer.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img11 {
  background-image: url(.//img/27.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img12 {
  background-image: url(.//img/espejos.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img13 {
  background-image: url(.//img/naranjapersa.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img14 {
  background-image: url(.//img/naranjapersa2.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img15 {
  background-image: url(.//img/guerras.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-img16 {
  background-image: url(.//img/sueños.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-title {
  font-family: Bebas Neue;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-weight: 400;
  padding-top: 18px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40%;
  min-height: 350px;
  background-color: rgb(255, 153, 0);
  text-align: center;
  border-radius: 7px;
  margin-top: 40px;
  transition: all 1.1s;
}

.card:hover {
  box-shadow: 0 0 5px 5px #fff;
  transform: scale(1.09);
  transition: all 1.1s;
}

.card-img {
  background-image: url(.//img/foto\ coder\ perfil.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.card-title3 {
  font-family: Bebas Neue;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-weight: 400;
  margin: 10px;
  padding: 2px;
}

.redescard {
  padding-bottom: 20px;
}

.redescard a:hover {
  color: #000;
}

.card-title4 {
  font-family: Bebas Neue;
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
  padding: 2px;
}

.card p {
  padding: 20px;
  font-family: Fjalla One;
}

.redescard a {
  color: #fff;
  font-size: 30px;
  letter-spacing: 10px;
}

.texto h3 {
  font-size: 25px;
  font-family: Oswald;
  padding-top: 50px;
  text-shadow: 0 0 5px #000;
}

.contactoPrincipal {
  background-color: rgba(0, 0, 0, 0.7);
  width: 600px;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  font-family: Fjalla One;
  color: rgb(255, 153, 0);
  box-shadow: 0 0 30px #fff;
}

.controls {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgb(255, 153, 0);
  color: rgb(255, 153, 0);
  margin-top: 20px;
}

.contactoPrincipal .botons {
  width: 80%;
  background-color: rgb(255, 153, 0);
  border: none;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

footer {
  background-color: rgba(255, 165, 0, 0.75);
  height: 100px;
  width: 100%;
  padding-bottom: 0px;
  margin-top: 300px;
}

footer p {
  text-align: center;
  color: #fff;
  padding-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: Oswald;
}

.redes {
  list-style: none;
  display: inline-block;
  color: #fff;
}

.redes a {
  text-align: center;
  color: #000;
  font-size: 30px;
  margin: 5px;
}

.redes a:hover {
  text-shadow: 0 0 5px, 0 0 5px rgb(255, 153, 0);
  color: #fff;
}

@media (max-width: 2000px) {
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 20px;
  }
  .albumes {
    width: 250px;
  }
}
@media (max-width: 1900px) {
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 20px;
  }
  .albumes {
    width: 200px;
  }
}
@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 20px;
  }
  .albumes {
    width: 250px;
  }
}
@media (max-width: 866px) {
  .imagenes {
    display: flex;
    flex-direction: column;
  }
  main {
    font-size: 20px;
  }
  .card {
    width: 50%;
  }
  .contactoPrincipal {
    width: 600px;
  }
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 20px;
  }
  .albumes {
    width: 300px;
  }
  footer {
    bottom: 0;
    margin-top: 500px;
  }
}
@media (max-width: 780px) {
  main h1 {
    font-size: 40px;
  }
  .nombre_logo {
    font-size: 20px;
    transition: all 0.4s;
  }
  .card {
    width: 60%;
    height: 550px;
  }
  .contactoPrincipal {
    width: 500px;
  }
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 30px;
  }
  .albumes {
    width: 250px;
  }
  footer {
    bottom: 0;
    margin-top: 600px;
  }
}
@media (max-width: 600px) {
  main h1 {
    font-size: 40px;
  }
  .nombre_logo {
    font-size: 20px;
    transition: all 0.4s;
  }
  .card {
    width: 60%;
    height: 550px;
  }
  .contactoPrincipal {
    width: 400px;
  }
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 20px;
  }
  .albumes {
    width: 300px;
  }
  footer {
    bottom: 0;
    margin-top: 700px;
  }
}
@media (max-width: 480px) {
  main h1 {
    font-size: 35px;
  }
  .nombre_logo {
    font-size: 20px;
    transition: all 0.4s;
  }
  .card {
    width: 60%;
    height: 550px;
  }
  .contactoPrincipal {
    width: 370px;
  }
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 30px;
  }
  footer {
    bottom: 0;
    margin-top: 730px;
  }
  footer p {
    font-size: 18px;
  }
  .redes a {
    font-size: 25px;
    padding-bottom: 5px;
  }
}
@media (max-width: 380px) {
  main h1 {
    font-size: 27px;
  }
  .navbar-brand {
    font-size: 25px;
  }
  .contactoPrincipal {
    width: 300px;
  }
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 30px;
  }
  footer {
    bottom: 0;
    margin-top: 700px;
  }
  footer p {
    font-size: 18px;
  }
  .redes a {
    font-size: 25px;
    padding-bottom: 5px;
  }
}
@media (max-width: 320px) {
  .navbar-brand {
    font-size: 23px;
  }
  .historias h1 {
    font-size: 25px;
  }
  .texto h2 {
    width: 200px;
    font-size: 20px;
    text-align: center;
  }
  .texto h3 {
    font-size: 15px;
  }
  .texto1 h1 {
    width: 200px;
    font-size: 12px;
  }
  .texto2 h2 {
    width: 200px;
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .historias img {
    width: 200px;
    height: 100px;
  }
  .video video {
    width: 200px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  iframe {
    width: 200px;
    height: 200px;
  }
  .mixin {
    font-size: 10px;
  }
  .contactoPrincipal {
    width: 200px;
  }
  .canciones1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 300px);
    grid-gap: 20px;
  }
  .albumes {
    width: 200px;
  }
  footer {
    bottom: 0;
    margin-top: 500px;
  }
  footer p {
    font-size: 16px;
  }
  .redes a {
    font-size: 25px;
    padding-bottom: 5px;
  }
}/*# sourceMappingURL=style.css.map */