*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@400;500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@400;500&family=Yanone+Kaffeesatz&display=swap');

    // font-family: 'Bebas Neue', sans-serif;
    // font-family: 'Fjalla One', sans-serif;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Yanone Kaffeesatz', sans-serif;

    $color1: rgb(255, 153, 0);
    $color2: red;
    $color3: green;
    $color4: #fff;
    $color5: #000;

    $font1: Bebas Neue;
    $font2: Fjalla One;
    $font3: Oswald;
    $font4: Yanone Kaffeesatz;

    

body{
    font-family: $color2;
    background-image: url(.//img/FONDOCIROANDRES.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: calc(100vh - 80px - 100px);
}

.mainIndex{
    height: 100vh;
} 
/* .mainHistoria{
    height: 100vh;
}

/* .mainCanciones{
    height: 100vh;
} */

.mainContacto{
    height: 100vh;
}
.mainRegistrate{
    height: 100vh;
}



.extra{
    color: rgb(11, 11, 12);
    padding-bottom: 40px;
    margin-bottom: 150px;
}


main h1{

        color: $color1;
        padding: 20px;
        margin: 20px;
        font-family: $font1;
        font-size: 50px;
        text-shadow: 0 0 5px $color4;
        transition: all 500ms;
        cursor: pointer;
    }
    

main h1:hover{
    transition: 500ms ;
    transform: scale(1.1);
}
span{
    color: black;
}
span:hover{
    color: #fff;
}

main{
    color: #fff;
    
}


.subir{
    background-color: #fff;
    height: 30px;
    width: 30px;
    border: 3px solid rgb(255, 165, 0, 0.75);
    line-height: 28px;
    font-size: 30px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.subir:hover{
    box-shadow: 0 0 5px $color1;
}


.historias{
    color: #fff;
    font-family: $font1;
    margin-top: 40px;
    padding: 30px;
    text-shadow: 0 0 5px $color1;
    transition: all 500ms ease-out;
    cursor: pointer;
}

.historias img{
    box-shadow: 0 0 5px $color1;
    border-radius: 60%;
    margin: 30px;
    margin-bottom: 10px;
}

.historias h1:hover{
    text-shadow: 0 0 5px, 0 0 5px $color1;
    transform: scale(1.1);
    transition: all 500ms ease-out;
}

.texto{
    color: $color1;
    text-shadow: 0 0 5px $color5;
    padding: 20px;
    margin: 20px;
}
.texto1{
    color: $color1;
    text-shadow: 0 0 5px, 0 0 5px #ffffffab;
    padding: 20px;
    margin: 20px;
    font-family: $font2;
}
.p{
    color: #fff;
    text-shadow: 0 0 5px $color1;
}

iframe{
    padding: 20px;
    margin: 20px;
}

.video{
    padding: 20px;
    margin: 20px;
    
}

.img{
    padding: 20px;
    margin: 20px;
}

.row{
    color: $color1;
    text-shadow: 0 0 5px $color5;
    font-weight: 400;
}

.form-check{
    margin-left: 100px;;
}

@import "_header";
@import "_menu";
@import "_galeria";
@import "_canciones";
@import "_contacto";
@import "_footer";

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: $color1;
    }
    #check:checked ~ ul{
        left:0;
    }

    .imagenes{
        display: flex;
        flex-direction: column;
    }
    
    main{
        font-size: 20px;
    }
    .card{
        width: 50%;
    }
    
        
}

@media (max-width: 700px){

    main h1{
        font-size: 20px;
    }
    .nombre_logo{
        font-size: 20px;
        transition: all .4s;
    }

    .card{
        width: 60%;
    }
    

}

@media (max-width: 380px){
    
    main h1{
        font-size: 20px;
    }
    figure img{
        padding: 30px;
    }
        .card{
            width: 80%;
        }
}
