*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@400;500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@400;500&family=Yanone+Kaffeesatz&display=swap');

    // font-family: 'Bebas Neue', sans-serif;
    // font-family: 'Fjalla One', sans-serif;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Yanone Kaffeesatz', sans-serif;

    $color1: rgb(255, 153, 0);
    $color2: red;
    $color3: green;
    $color4: #fff;
    $color5: #000;
    $color6:  rgba(0, 0, 0,0.7);

    $font1: Bebas Neue;
    $font2: Fjalla One;
    $font3: Oswald;
    $font4: Yanone Kaffeesatz;

    

body{
    font-family: $color2;
    background-image: url(.//img/FONDOCIROANDRES.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: calc(100vh - 80px - 100px);
}

.mainIndex{
    height: 100vh;
} 
/* .mainHistoria{
    height: 100vh;
}*/

// .mainCanciones{
//     height: 100vh;
// } 

.mainContacto{
    height: 100vh;
}
.mainRegistrate{
    height: 100vh;
}



.extra{
    color: rgb(11, 11, 12);
    padding-bottom: 40px;
    margin-bottom: 150px;
}


.tituloIndex{
        color: $color1;
        margin-top: 100px;
        font-family: $font1;
        font-size: 50px;
        text-shadow: 0 0 5px $color4;
        transition: all 500ms;
        cursor: pointer;
    }
    

.tituloIndex:hover{
    transition: 500ms ;
    transform: scale(1.1);
}
span{
    color: black;
}
span:hover{
    color: #fff;
}

.texto2 p{
font-size: 25px;
font-family: $font3;
text-shadow: 0 0 10px $color1;
padding: 30px;
}
main{
    color: #fff;
    
}

.circle{
    height: 80px;
    width: 100px;
    margin: auto;
    animation-name: rebotar;
    animation-duration: 12s;
    animation-delay: 4s;
    background-image: url(.//img/cirologo2.png);
    background-position: center;
    background-size: cover;
    
    // filter: drop-shadow(10px 10px 10px rgb(255, 255, 255) );
}

@keyframes rebotar{
        0%{
            opacity: 0;
        }
        1%{
            transform: translateY(60px);
            filter: drop-shadow(5px 5px 5px rgb(255, 255, 255) );
        }
        
        10%{
            opacity: 1;
            transform: translateY(80px);
        }
        11%{
            filter: drop-shadow(5px 5px 5px rgb(255, 255, 255) );
        }
        20%{
            opacity: 1;
            transform: translateY(0px);
        }
        21%{
            filter: none;
        }
        30%{
            opacity: 1;
            transform: translateY(80px);
        }
        31%{
            filter: drop-shadow(5px 5px 5px rgb(255, 255, 255) );
        }
        40%{
            opacity: 1;
            transform: translateY(0px);
            filter: none;
        }
        50%{
            opacity: 1;
            transform: translateY(80px);
            filter: drop-shadow(5px 5px 5px rgb(255, 255, 255) );
        }
        60%{
            opacity: 1;
            transform: translateY(0px);
            filter: none;
        }
        70%{
            opacity: 1;
            transform: translateY(80px);
            filter: drop-shadow(5px 5px 5px rgb(255, 255, 255) );
        }
        80%{
            opacity: 1;
            transform: translateY(50px);
            filter: none;
        }
        90%{
            opacity: 1;
            transform: translateY(80px);
            filter: none;
            transform: rotate(-280deg);
        }
        
        100%{
            transform: rotate(-560deg);
            transform: translate(10px, 100px);
            filter: drop-shadow(5px 5px 5px rgb(255, 255, 255) );
        }

}

.subir{
    background-color: #fff;
    height: 30px;
    width: 30px;
    border: 3px solid rgb(255, 165, 0, 0.75);
    line-height: 28px;
    font-size: 30px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.subir:hover{
    box-shadow: 0 0 5px $color1;
}




.row{
    color: $color1;
    text-shadow: 0 0 5px $color5;
    font-weight: 400;
}

.form-check{
    margin-left: 100px;;
}


.controlsRegistrate{
    width: 30%;
    background-color: $color1;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: $color4;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.controlsRegistrate:hover{
    box-shadow: 0 0 15px $color4;
}


@import "_header";
@import "_menu";
@import "_historia";
@import "_galeria";
@import "_canciones";
@import "_contacto";
@import "_footer";

@media (max-width: 2000px){
    .canciones1{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 300px);
        grid-gap: 20px;
        
    }
    .albumes{
        width: 250px;
    }
}

@media (max-width: 1900px){
    .canciones1{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 300px);
        grid-gap: 20px;
        
    }
    .albumes{
        width: 200px;
    }
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .canciones1{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 300px);
        grid-gap: 20px;
        
    }
    .albumes{
        width: 250px;
    }
}

@media (max-width: 866px){
    
    

    .imagenes{
        display: flex;
        flex-direction: column;
    }
    
    main{
        font-size: 20px;
    }
    .card{
        width: 50%;
    }
    .contactoPrincipal{
        width: 600px;
    }
    .canciones1{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 300px);
        // padding: 10px;
        grid-gap: 20px;
        
    }
    .albumes{
        width: 300px;
    }
    footer{
        bottom: 0;
        margin-top: 500px;
        

    }
        
}

@media (max-width: 780px){

    main h1{
        font-size: 40px;
    }
    .nombre_logo{
        font-size: 20px;
        transition: all .4s;
    }

    .card{
        width: 60%;
        height: 550px;
    }
    

    .contactoPrincipal{
        width: 500px;
    }
    .canciones1{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 300px);
        // padding: 10px;
        grid-gap: 30px;
        
    }
    .albumes{
        width: 250px;
    }
    footer{
        bottom: 0;
        margin-top: 600px;
        
    }

}

@media (max-width: 600px){

    main h1{
        font-size: 40px;
    }
    .nombre_logo{
        font-size: 20px;
        transition: all .4s;
    }

    .card{
        width: 60%;
        height: 550px;
    }
    
    .contactoPrincipal{
        width: 400px;
    }

    .canciones1{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 300px);
        // padding: 10px;
        grid-gap: 20px;
        
    }
    .albumes{
        width: 300px;
    }
    footer{
        bottom: 0;
        margin-top: 700px;
        
    }

}
    
    @media (max-width: 480px){

        main h1{
            font-size: 35px;
        }
        .nombre_logo{
            font-size: 20px;
            transition: all .4s;
        }
    
        .card{
            width: 60%;
            height: 550px;
        }
        .contactoPrincipal{
            width: 370px;
        }
        .canciones1{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(16, 300px);
            // padding: 10px;
            grid-gap: 30px;          
        }

        
        footer{
            bottom: 0;
            margin-top: 730px;
        }
        footer p{
            font-size: 18px;
        }
    
        .redes a{
            font-size: 25px;
            padding-bottom: 5px;
        }

}

@media (max-width: 380px){
    
    main h1{
        font-size: 27px;
    }
    .navbar-brand{
        font-size: 25px;
    }    

    .contactoPrincipal{
        width: 300px;
    }

    .canciones1{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(16, 300px);
            // padding: 10px;
            grid-gap: 30px;
            
        }
        // .albumes{
            
        //     margin-top: 20px;
        //     margin-bottom: 20px;
            
        // }
        footer{
            bottom: 0;
            margin-top: 700px;
            
        }
        footer p{
            font-size: 18px;
        }
    
        .redes a{
            font-size: 25px;
            padding-bottom: 5px;
        }
        
    }



@media (max-width: 320px){
    .navbar-brand{
        font-size: 23px;
    }
    .historias h1{
        font-size: 25px;
    }
    .texto {
        h2{
        width: 200px;
        font-size: 20px;
        text-align: center;
        }
        h3{
            font-size: 15px;
        }
}
    .texto1 h1{
        width: 200px;
        font-size: 12px;
    }
    .texto2 h2{
        width: 200px;
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
    .historias img{
        width: 200px;
        height: 100px;

    }
    .video video{
        width: 200px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    iframe{
        width: 200px; 
        height: 200px; 
    } 
    .mixin{
        font-size: 10px;
    }

    .contactoPrincipal{
        width: 200px;
    }
    .canciones1{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 300px);
        // padding: 10px;
        grid-gap: 20px;
        
    }
    .albumes{
        width: 200px;
    }
    footer{
        bottom: 0;
        margin-top: 500px;
        
    }
    footer p{
        font-size: 16px;
    }
    .redes a{
        font-size: 25px;
        padding-bottom: 5px;
    }
}